<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>AirLineBookingPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HibernateInit</display-name>
    <servlet-name>HibernateInit</servlet-name>
    <servlet-class>com.flyaway.servlet.HibernateInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateInit</servlet-name>
    <url-pattern>/HibernateInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirportsList</display-name>
    <servlet-name>AirportsList</servlet-name>
    <servlet-class>com.flyaway.servlet.AirportsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirportsList</servlet-name>
    <url-pattern>/AirportsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightsList</display-name>
    <servlet-name>FlightsList</servlet-name>
    <servlet-class>com.flyaway.servlet.FlightsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightsList</servlet-name>
    <url-pattern>/FlightsList</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>FlightsListCriteria</display-name>
    <servlet-name>FlightsListCriteria</servlet-name>
    <servlet-class>com.flyaway.servlet.FlightsListCriteria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightsListCriteria</servlet-name>
    <url-pattern>/FlightsListCriteria</url-pattern>
  </servlet-mapping>
</web-app>